{% extends '@ezdesign/ui/layout.html.twig' %}

{% trans_default_domain 'sqli_admin' %}

{% block title %}{{ 'Content List' }}{% endblock %}

{%- block breadcrumbs -%}
    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'migration.title'|trans }
    ]} %}
{%- endblock -%}

{%- block page_title -%}
    {% include '@ezdesign/ui/page_title.html.twig' with {
        title: 'migration.title'|trans,
        icon_name: 'article'
    } %}
{%- endblock -%}

{% block javascripts %}
    <script src="{{ asset('sqli-eztoolbox/Resources/asset/js/dropdown.js') }}"></script>
{% endblock %}

{%- block content -%}
{#    {{ dump(contentTypes) }} {{ dump(contentTypeGroups) }}#}
    <section class="container my-4">
        <div class="my-4">
            {# Button which allow to chose to display Content or Content Types #}
            <div class="dropdown">
                {% set type = app.request.get('type') %}
                <button class="btn btn-secondary dropdown-toggle"
                        type="button" id="contentTypeFilter"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    {% if type == 'false' %}
                        Content Type
                    {% else %}
                        {% if type == 1 %} Content Type {% else %} Content {% endif %}
                    {% endif %}
                </button>
                <div class="dropdown-menu" aria-labelledby="contentTypeFilter">
                    <a class="dropdown-item"
                   href="{{ path('sqli_eztoolbox_generate_migration',
                       { 'type': 1 }) }}">Content Type</a>
                    <a class="dropdown-item"
                   href="{{ path('sqli_eztoolbox_generate_migration',
                       { 'type': 2 }) }}">Content</a>
                </div>
            {% if app.request.get('contentTypeGroupIdentifier') != 'false' %}
                <button class="btn btn-secondary" type="submit" id="exportCSV">
                    <a class="text-decoration-none text-reset"
                       href="{{ path('sqli_eztoolbox_migration_command',
                           { 'type': app.request.get('type'),
                             'contentTypeGroupIdentifier': app.request.get('contentTypeGroupIdentifier')}) }}" target="_new">Generate Migration File</a>
                </button>
            {% else %}
                <button class="btn btn-secondary" type="submit" id="exportCSV">
                    <a class="text-decoration-none text-reset"
                       href="{{ path('sqli_eztoolbox_migration_command',
                           { 'type': app.request.get('type'),
                              'contentTypeGroupIdentifier': 'false'}) }}" target="_new">Generate Migration File</a>
                </button>
            </div>
            {% endif %}
        </div>
    </section>



{%- endblock -%}


