{#{% block selection_from_identity_field %}#}
{#    ({{ field.value.getClassName() }}, {{ field.value.getValueAttribute() }}, {{ field.value.getLabelAttribute() }},{{ field.value.getFilter() }} )#}
{#{% endblock %}#}
{% extends "@IbexaCore/content_fields.html.twig" %}

{% block selection_from_entity_field %}
    {% apply spaceless %}
        {% if field.value.selection|length() > 0 %}
            <ul {{ block( 'field_attributes' ) }}>
                {% for group in field.value.selection %}
                    <li>{{ group.groupName }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endapply %}
{% endblock %}